<!DOCTYPE html>
<html ng-app>
<head>
    <script src="lib/angular.min.js"></script>
    <script src="wodo.js"></script>
    <link rel="stylesheet" href="wodo.css">
    <title></title>
</head>
<body>
<h2>Wodo</h2>
<div ng-controller="WodoCtrl">
    <span>Search: <input ng-model="query"></span>
    <span>{{ remaining() }} of {{ wodos.length }} ramaining</span>
    [<a href="" ng-click="archive()">archive</a>]
    <ul class="unstyled">
        <li ng-repeat="wodo in wodos | filter:query">
            <input type="checkbox" ng-model="wodo.done">
            <span class="done-{{wodo.done}}">{{wodo.text}}</span>
        </li>
    </ul>
    <form ng-submit="addWodo()">
        <input type="text" ng-model="wodoText" size="30"
                placeholder="add new wodo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
    </div>
</body>
</html>